 body {
     background-size: 115%;
 }

 #time {
     font-size: (100/16)*1rem;
     font-weight: 600;
     margin: 0 0 0 5px;
 }

 #today,
 #whatday {
     font-size: (50/16)*1rem;
     font-weight: 600;
     margin: 0 0 0 10px;
 }